<!--MODULE TEMPLATE-->
<module 
  version="2.0"
  id="sales_module"
  folder="/redesign/module/sales"
  html="sales.html"
  js="sales.js"
  css="sales.css"
  json="sales.json"
>

<tab>
  <button _start _space="home">Home</button><button _space="task">Ongoing tasks</button><button _space="quotation">Quotation</button><button _space="order">Order</button><button _space="issue">Customer issues</button>
</tab>

<workspace name="home">
  <ws-name>Home of the sales</ws-name>
  <full>
    <half></half>
    <half></half>
    <bar>
      <button>Save</button><button>Clear</button>
    </bar>
  </full>
</workspace>

<workspace name="task"></workspace>
<workspace name="quotation"></workspace>
<workspace name="order"></workspace>
<workspace name="issue"></workspace>


</module>